<style>
  body {
    /*background-color: #AFD7D7;*/
    /*color: #fff;*/
  }

  blockquote {
    padding: 20px 20px 10px 30px;
    border-radius: 5px;
    background-color: #d8f3f29f;
    font-style: italic;
    color: #62676a;
  }

  #subtitle {
    color: #62676a;
    font-size: 1.25rem;
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 2rem;
    padding-top: 0px;
  }

  div#home-jumbotron.jumbotron {
    text-align: left !important;
  }

  div#home-jumbotron.jumbotron h1 {
    text-align: center !important;
  }

  div#home-jumbotron.jumbotron #subtitle {
    text-align: center !important;
  }

  div.logo {
    text-align: center !important;
    grid-row: 1/3;
  }
  div.meeting-specifics {
    text-align: left !important;
    grid-row: 1/3;
  }

  div.meeting-time {
    display: grid;
    grid-template-columns: 70% 30%
  }

  th {
    background-color: #9ee0df;
    font-weight: normal;

  }
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #EEF9F9;
  }

  /*set global link style*/
  a {
    text-decoration: none;
    color: #21252A !important;
    border-bottom: 3px solid rgba(51, 177, 175, 0.5);
    box-shadow: inset 0 -4px 0 rgba(51, 177, 175, 0.5);
    background: transparent;
    transition: background 150ms ease;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    color: #21252A !important;
    background: rgba(51, 177, 175, 0.5);
  }

  /*Override it for specific aspects, like the navbar*/
  #nav > a {
    border-bottom: none;
    box-shadow: none;
  }
  a.clark,
  a.r4ds,
  a.clark2,
  a.gh,
  a.sw,
  a.video,
  a.assigned,
  a.due,
  a.slides,
  a.other {
    border-bottom: none;
    box-shadow: none;
  }

  a.btn {
    border-bottom: 1px solid #343a40;
    box-shadow: none;
  }
  a.btn:hover {
    color: #ff65ad !important;
  }

  /*change color for non-book icon links*/
  a.video,
  a.assigned,
  a.due,
  a.slides {
    color: #808aff !important;
  }

  /*Add new hover*/
  /*a.clark:hover,*/
  /*a.clark:focus,*/
  a.r4ds:hover,
  a.r4ds:focus,
  a.clark2:hover,
  a.clark2:focus,
  a.gh:hover,
  a.gh:focus,
  a.sw:hover,
  a.sw:focus,
  a.video:hover,
  a.video:focus,
  a.assigned:hover,
  a.assigned:focus,
  a.due:hover,
  a.due:focus,
  a.slides:hover,
  a.slides:focus,
  a.other:hover,
  a.other:focus {
    background: transparent;
    color: #ff65ad !important;
  }
  .wrap p span {
    display: block;
  }
  .course-books {
    margin-bottom: 1.5rem;
    border: dotted 1px #989EA4;
    border-radius: 10px;
    padding: 0.5rem;
    width: 100%;
    line-height: 2.6;
  }
  .book-author {
    color: #62676a;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
  }
  .book-title a {
    color: #ff65ad !important;
    text-decoration: underline;
  }
  .week {
    background: -webkit-linear-gradient(0deg, #AFD7D7 10%, #fff 10%);
    border: solid 3px #AFD7D7 !important;
    border-radius: 10px;
    display: inline-grid;
    grid-template-columns: 11% 27% 8% 15% 12% 15% 12%;
    align-items: center;
    gap: 2px;
    width:100%;
    margin-bottom: 0.5em;    
  }
  .weeks-header {
    display: inline-grid;
    width:100%;
    grid-template-columns: 11% 27% 8% 15% 12% 15% 12%;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid #989EA4;
    background-color: #fff;
    margin: 0;
    padding: 2px 0 0 12px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;;
  }
  .schedule {
    margin-top: 1.5rem;
  }
  h2#week-1 {
    margin-top:-0.2rem;
  }
  h2[id^='week'] {
    margin-top:1.3rem;
    margin-bottom: -1rem;
    color: #c2c5c7;
    position: absolute;
    z-index: 99;
  }
  .week-theme-title {
    font-weight: bold;
    border-bottom: 0.5px solid gray;
  }
  .week-description {
    font-size: 0.9rem;
    color: #3d4042;
  }
  .class-date {
    grid-row: 1 / 3;
    margin-right: 0.5rem;
    font-weight: bold;
    text-align: center;
  }
  .week-title {
    color: #556672;
    margin-right: 1rem;
    border-bottom: solid 1px gray;
    text-align: center;
    font-size: 1.1rem;
    font-style: italic;
  }
  .class-theme {
    text-align: left;
  }
  .wrap {
    text-align: left;
    padding-left: 20pt;
    line-height: 2.6;
  }
  .readings {
    text-align: left;
    padding-left: 25%;
  }
  .clark {
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-right: .6rem;
    padding-left: .6rem;
    border-radius: 5px;
    background-color: #fbedd0;
  }
  
  a.clark:hover {
    background-color: #906109;
    color: #fff !important;
  }
  .r4ds {
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-right: .6rem;
    padding-left: .6rem;
    border-radius: 5px;
    background-color: #f8d6d3;
  }
  a.r4ds:hover{
    background-color: #841e15;
    color: #fff !important;
  }
  .clark2 {
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-right: .6rem;
    padding-left: .6rem;
    border-radius: 5px;
    background-color: #e2d7f4
  }
  a.clark2:hover{
    background-color: #432277;
    color: #fff !important;
  }
  .gh {
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-right: .6rem;
    padding-left: .6rem;
    border-radius: 5px;
    background-color: #e3e2e9 ;
  }
  a.gh:hover{
    background-color: #444356;
    color: #fff !important;
  }
  .sw {
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-right: .6rem;
    padding-left: .6rem;
    border-radius: 5px;
    background-color: #d7f4f3 ;
  }
  a.sw:hover{
    background-color: #227775;
    color: #fff !important;
  }
  .other {
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-right: .6rem;
    padding-left: .6rem;
    border-radius: 5px;
    background-color: #f1f2f4;
  }
  a.other:hover{
    background-color: #343A40;
    color: #fff !important;
  }
  
    /*.container {
      max-width: {
         {
          .Site.Params.containerMaxWidth|default '700px'|safeCSS;
        }
      }
    }*/
    #nav a {
      color: #212529 !important;
      font-weight: bold;
      color: inherit;
    }
    #nav a.nav-link-active {
      background-color: #33B1AF !important;
      color: #fff !important;
    }
    #nav a.nav-link:hover {
      background-color: #d8f3f2;
      color: #212529 !important;
    }
    #nav-border {
      border-bottom: 1px solid #212529;
    }
    #main {
      margin-top: 1em;
      margin-bottom: 4em;
    }
    #home-jumbotron {
      background-color: inherit;
      padding-top: 1rem;
    }
    #footer .container {
      padding: 1em 0;
      display: block;
    }
    #footer a {
      color: #565A5C !important;
      text-decoration: none;
    }
    .font-125 {
      font-size: 125%;
    }
    .tag-btn {
      margin-bottom: 0.3em;
    }
    pre {
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 16px;
    }
    pre code {
      padding: 0;
      font-size: inherit;
      color: inherit;
      background-color: transparent;
      border-radius: 0;
      border: none;
    }
    code {
      padding: 2px 4px;
      border: 1px solid #ccc;
      font-size: 90%;
      color: #0DA6F2;
      /*background-color: #EBF8FE;*/
      border-radius: 4px;
    }
    img,
    iframe,
    embed,
    video,
    audio {
      max-width: 100%;
    }
    .card-img,
    .card-img-top,
    .card-img-bottom {
      width: initial;
    }

    .container > aside.tableOfContentContainer {
      position: -webkit-sticky;
      position: sticky;
      top: 0px;
      height: 100vh;
      overflow-y: scroll;
    }

    .container > aside.tableOfContentContainer::-webkit-scrollbar {
      display: none;
    }
    .container > aside > h3 {
      font-size: 1rem;
      padding-left: 1.5rem;
      color: #1a202c;
      font-weight: 700;
      padding-top: 0.5rem;
    }
    .container {
      display: grid;
      grid-template-columns: 100% 15em;
      max-width: 800px;
      width: 100%;
    }
    
    #TableOfContents {
      font-size: 0.9rem;
    }
    #TableOfContents ul {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    #TableOfContents a {
      text-decoration: none;
      border-bottom: none;
      box-shadow: none;
      color: #62676a !important;
      -webkit-transition: all 50ms ease-in-out !important;
      transition: all 50ms ease-in-out !important;
    }

    #TableOfContents li {
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      list-style: none;
    }
    
    #TableOfContents li.active:before {
      content: '→';
      color: #33B1AF;
      display: inline-block;
      margin-left: -20px;
      width: 20px;
    }

    #TableOfContents li ul li {
      margin-left: -0.5rem;
    }
    #TableOfContents li.active > a {
      color: #33B1AF !important;
      /*background-color: #33B1AF;*/
      font-weight: 500;
    }
    
    .toc-contents {
      height: 100%
      overflow: auto;
    }

    html {
      scroll-behavior: smooth;
    }
    html,
    body {
      scroll-padding-top: 100px;
    }

    @media screen and (max-width: 800px) {
      .container > aside {
        display: none;
      }
      h2[id^='week'] {
        font-size: 1rem;
      }
      .weeks-header {
        font-size: 0.8rem;
        grid-template-columns: 7% 23% 10% 25% 10% 15% 10%;
      }
    }
</style>
