<div class = "course-books">

	<a class = "clark" href= "https://m-clark.github.io/mixed-models-with-R/"> <i data-feather="book"></i>
		<span class = "book-title"> Mixed Models with R</span>
	</a>
		<span class = "book-author"> Michael Clark</span> 
		<br/>

	<a class = "clark2" href="https://m-clark.github.io/bayesian-basics/"> <i data-feather="book"></i>
		<span class = "book-title"> Bayesian Basics</span>
		</a>
		<span class = "book-author"> Michael Clark</span>
		<br/>

	<a class = "gh" href="http://www.stat.columbia.edu/~gelman/arm/"> <i data-feather="book"></i>
		<span class = "book-title"> Data Analysis Using Regression and Multilevel/Hierarchical Models</span>
		</a>
		<span class = "book-author"> Andrew Gelman & Jennifer Hill</span>
		<br/>

	<a class = "sw" href="https://oxford.universitypressscholarship.com/view/10.1093/acprof:oso/9780195152968.001.0001/acprof-9780195152968"> <i data-feather="book"></i>
		<span class = "book-title"> Applied Longitudinal Data Analysis</span>
		</a>
		<span class = "book-author"> Judith D. Singer& John B. Willett</span>
		<br/>

	<a class = "r4ds" href="https://r4ds.had.co.nz/"> <i data-feather="book"></i>
		<span class = "book-title"> R for Data Science</span>
	</a>
		<span class = "book-author"> Hadley Wickham & Garrett Grolemund</span>
		<br/>

	<a class = "other" href=""> <i data-feather="book"></i>
		<span class = "book-title"> Other content not in the course books</span>
		</a>
		<span class = "book-author"></span>

</div>